@model Web.Models.IndexModel
@section styles
{
    <style>
        body {
            margin: 0;
        }
        #tiles > div {
            float: left;
            width: 300px;
            margin: 10px;
            background-color: #2C3E50;
            border-radius: 10px;
            box-sizing: border-box;
        }


            #tiles img {
                width: 300px;
                height: 100px;
            }

        h1, h2 {
            margin: 0;
            padding: 5px;
            font-family: "Roboto", "HelveticaNeueUltraLight", "HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
        }

        h1 {
            color: #2C3E50;
        }

            h1 a {
                background-color: #FC4349;
                color: #ffffff;
                display: inline-block;
                padding: 5px 15px;
                text-decoration: none;
            }
        h2, h2 a {
            text-align: center;
            color: #FFFFFF;
            text-decoration: none;
            display: block;
        }

            h2 a:hover {
                color: #D7DADB;
            }

        a {
            color: #FC4349;
        }

        #tiles > div > p {
            margin: 0;
            padding: 10px;
            color: #D7DADB;
        }

        @@media only screen and (max-width : 480px) {
            #tiles > div {
                width: 100%;
                margin: 0;
                padding: 0 0 20px 0;
                border-radius: 0;
                padding: 10px 0;
                float: none;
            }

            #tiles img {
                width: 100%;
                height: auto;
            }
        }
    </style>
}
@{
    var rnd = new Random();
    var names = new[] { "<a href='http://twitter.com/mharen'>@mharen</a>", "<a href='http://twitter.com/pwninstein'>@pwninstein</a>" }.OrderBy(n => rnd.Next());
    var credits = string.Join(" and ", names);
}
    <h1>Welcome to @Html.ActionLink("WORLD WIDE WAT", "Index", "Home"), a little collection of side 
        projects from @Html.Raw(credits).</h1>
    <section id="tiles">
        @foreach (var tile in Model.Tiles)
        {
        <div>
            <h2><a href="@tile.Url">@tile.Title</a></h2>
            <a href="@tile.Url"><img src="@tile.ImageUrl" alt="@tile.Title logo"/></a>
            <p>@Html.Raw(tile.Description)</p>
        </div>
        }
    </section>